# Data Analytics Project 2: #Team Logic


#         State Comparator



## TEAM MEMBERS
    * Regina Tettey
    * Vera Song
    * Jannette Amedome
    * Nicholas Koranteng
    * Sylvester Okeleke
    * Meakin Marange
  
## Hypothesis 
   ### Not all states are equal.
 

 ## Objective
To use Data analytics tools, in particular, pandas, matplotlib and others to help consumers visualy compare states in the following categeries

 a) Personal Income and personal expenditure per capita in two states
 
 b) Finding outstanding states since 1997
 
 c) Project average personal income and expenditure
 
 d) Public transport use and personal expenditure on public transport

In [3]:
%matplotlib notebook

In [4]:
# Dependencies

import pandas as pd
import json
import matplotlib.pyplot as plt
import requests
from scipy.stats import linregress
import numpy as np
from matplotlib.legend_handler import HandlerLine2D
import requests
#from config import api_key
import json
import glob

In [5]:
#Reading csv files
income_raw_data = pd.read_csv("data/CAINC30_ALL_AREAS.csv", encoding = "ISO-8859-1")
income_raw_data

C:\Users\dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States,,CAINC30,10,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,12541995000,13315478000,13998383000,14175503000,14982715000,15717140000,16151881000,16937582000,17839255000,18542262000
1,"""00000""",United States,,CAINC30,45,...,Net earnings by place of residence,Thousands of dollars,609767000,647228000,...,8044221000,8531667000,8956340000,9132669000,9539185000,9915088000,10145493000,10626821000,11167886000,11667012000
2,"""00000""",United States,,CAINC30,50,...,Personal current transfer receipts,Thousands of dollars,62322000,74733000,...,2325117000,2358654000,2362988000,2424297000,2541510000,2685370000,2776746000,2855049000,2970254000,3125174000
3,"""00000""",United States,,CAINC30,60,...,Income maintenance benefits 1/,Thousands of dollars,7275000,9897000,...,256034000,264137000,267614000,271171000,270971000,273685000,270259000,268468000,260380000,268682000
4,"""00000""",United States,,CAINC30,70,...,Unemployment insurance compensation,Thousands of dollars,2328000,4200000,...,139715000,107871000,84439000,63049000,35787000,32860000,32482000,30756000,28302000,28075000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99133,"""98000""",Far West,8,CAINC30,270,...,Farm proprietors employment 6/,Number of jobs,150788,149342,...,143046,141475,138301,139622,137612,137750,135901,134831,133433,133776
99134,"""98000""",Far West,8,CAINC30,280,...,Nonfarm proprietors employment,Number of jobs,1438363,1473846,...,6404278,6642308,6699338,6895632,7136455,7391202,7518542,7665592,7886994,8174642
99135,"""98000""",Far West,8,CAINC30,290,...,Average earnings per job (dollars),Dollars,8044,8468,...,57498,59403,61230,61743,63144,65120,66436,68841,71048,73383
99136,"""98000""",Far West,8,CAINC30,300,...,Average wages and salaries,Dollars,7187,7615,...,51836,53438,54758,55106,56853,59226,60595,63262,65706,68428
99137,"""98000""",Far West,8,CAINC30,310,...,Average nonfarm proprietors' income,Dollars,7216,7201,...,33289,34288,37835,37052,36527,36406,37290,37791,38275,38651

In [6]:
#Analyse income_raw 
#Create dataframe from 1997 to 2019
#Drop irrelevant columns, 

years_dropped = list(range(1969,2000))
income_2000_2019 = income_raw_data

for year in years_dropped:
    income_2000_2019 = income_2000_2019.drop(columns = str(year))
income_2000_2019 = income_2000_2019.drop(columns = ['TableName', 'LineCode', 'GeoFIPS', 'Region', 'IndustryClassification'])
#income_df = income_1997_2019.drop(columns = ["GeoFips"])
income_2000_2019.head(100)

,GeoName,Description,Unit,2000,2001,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,Personal income (thousands of dollars),Thousands of dollars,8650325000,9001839000,9155663000,9480901000,10028781000,10593946000,11372589000,...,12541995000,13315478000,13998383000,14175503000,14982715000,15717140000,16151881000,16937582000,17839255000,18542262000
1,United States,Net earnings by place of residence,Thousands of dollars,5896481000,6135866000,6253448000,6468388000,6849968000,7170317000,7601266000,...,8044221000,8531667000,8956340000,9132669000,9539185000,9915088000,10145493000,10626821000,11167886000,11667012000
2,United States,Personal current transfer receipts,Thousands of dollars,1087280000,1192565000,1285190000,1347228000,1421206000,1516711000,1613814000,...,2325117000,2358654000,2362988000,2424297000,2541510000,2685370000,2776746000,2855049000,2970254000,3125174000
3,United States,Income maintenance benefits 1/,Thousands of dollars,110582000,113847000,124986000,137644000,149094000,165905000,170430000,...,256034000,264137000,267614000,271171000,270971000,273685000,270259000,268468000,260380000,268682000
4,United States,Unemployment insurance compensation,Thousands of dollars,20989000,32148000,53736000,53573000,37084000,32277000,30899000,...,139715000,107871000,84439000,63049000,35787000,32860000,32482000,30756000,28302000,28075000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"Baldwin, AL",Personal current transfer receipts,Thousands of dollars,520984,590585,650570,710069,782483,848385,928616,...,1441178,1484827,1503447,1572417,1670445,1803452,1883779,1989112,2125470,2308499
96,"Baldwin, AL",Income maintenance benefits 1/,Thousands of dollars,34103,35629,41261,46368,59792,60698,58233,...,109557,114978,118105,123562,126278,162379,156915,148932,147117,154656
97,"Baldwin, AL",Unemployment insurance compensation,Thousands of dollars,4936,8405,11333,11190,8491,7448,6570,...,40737,32134,22696,15802,9258,8248,8202,7111,6623,6582
98,"Baldwin, AL",Retirement and other,Thousands of dollars,481945,546551,597976,652511,714200,780239,863813,...,1290884,1337715,1362646,1433053,1534909,1632825,1718662,1833069,1971730,2147261
99,"Baldwin, AL","Dividends, interest, and rent 2/",Thousands of dollars,875534,894899,880702,869219,1056401,1180490,1387232,...,1362612,1472948,1523280,1500492,1619543,1743232,1810395,1981954,2090788,2112917

In [7]:
income_2000_2019.shape
income_2000_2019.columns.tolist()

['GeoName',
 'Description',
 'Unit',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [8]:
income_2000_2019["County"] = ""
income_2000_2019["State"] = ""
income_2000_2019 = income_2000_2019[[
 'GeoName',
 'County',
 'State',
 'Description',
 'Unit',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019'
 ]]

income_2000_2019.head(3)

,GeoName,County,State,Description,Unit,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,,,Personal income (thousands of dollars),Thousands of dollars,8650325000,9001839000,9155663000,9480901000,10028781000,...,12541995000,13315478000,13998383000,14175503000,14982715000,15717140000,16151881000,16937582000,17839255000,18542262000
1,United States,,,Net earnings by place of residence,Thousands of dollars,5896481000,6135866000,6253448000,6468388000,6849968000,...,8044221000,8531667000,8956340000,9132669000,9539185000,9915088000,10145493000,10626821000,11167886000,11667012000
2,United States,,,Personal current transfer receipts,Thousands of dollars,1087280000,1192565000,1285190000,1347228000,1421206000,...,2325117000,2358654000,2362988000,2424297000,2541510000,2685370000,2776746000,2855049000,2970254000,3125174000

In [9]:
example = income_2000_2019.iloc[1,0].split(",")
example

['United States']

In [10]:
record_len = len(income_2000_2019)

for i in range(record_len-1):
    income_2000_2019.iloc[i,1] = income_2000_2019.iloc[i,0].split(",")[0] 
    try:
        income_2000_2019.iloc[i,2] = income_2000_2019.iloc[i,0].split(",")[1]  
    except: print(f'record {i} not a county')

example = income_2000_2019.iloc[99,1].split(",")
income_2000_2019.head()
#example

record 0 not a county
record 1 not a county
record 2 not a county
record 3 not a county
record 4 not a county
record 5 not a county
record 6 not a county
record 7 not a county
record 8 not a county
record 9 not a county
record 10 not a county
record 11 not a county
record 12 not a county
record 13 not a county
record 14 not a county
record 15 not a county
record 16 not a county
record 17 not a county
record 18 not a county
record 19 not a county
record 20 not a county
record 21 not a county
record 22 not a county
record 23 not a county
record 24 not a county
record 25 not a county
record 26 not a county
record 27 not a county
record 28 not a county
record 29 not a county
record 30 not a county
record 31 not a county
record 32 not a county
record 33 not a county
record 34 not a county
record 35 not a county
record 36 not a county
record 37 not a county
record 38 not a county
record 39 not a county
record 40 not a county
record 41 not a county
record 42 not a county
record 43 not a county
record 44 not a county
record 45 not a county
record 46 not a county
record 47 not a county
record 48 not a county
record 49 not a county
record 50 not a county
record 51 not a county
record 52 not a county
record 53 not a county
record 54 not a county
record 55 not a county
record 56 not a county
record 57 not a county
record 58 not a county
record 59 not a county
record 60 not a county
record 61 not a county
record 2139 not a county
record 2140 not a county
record 2141 not a county
record 2142 not a county
record 2143 not a county
record 2144 not a county
record 2145 not a county
record 2146 not a county
record 2147 not a county
record 2148 not a county
record 2149 not a county
record 2150 not a county
record 2151 not a county
record 2152 not a county
record 2153 not a county
record 2154 not a county
record 2155 not a county
record 2156 not a county
record 2157 not a county
record 2158 not a county
record 2159 not a county
record 2160 not a county
record 2161 not a county
record 2162 not a county
record 2163 not a county
record 2164 not a county
record 2165 not a county
record 2166 not a county
record 2167 not a county
record 2168 not a county
record 2169 not a county
record 3813 not a county
record 3814 not a county
record 3815 not a county
record 3816 not a county
record 3817 not a county
record 3818 not a county
record 3819 not a county
record 3820 not a county
record 3821 not a county
record 3822 not a county
record 3823 not a county
record 3824 not a county
record 3825 not a county
record 3826 not a county
record 3827 not a county
record 3828 not a county
record 3829 not a county
record 3830 not a county
record 3831 not a county
record 3832 not a county
record 3833 not a county
record 3834 not a county
record 3835 not a county
record 3836 not a county
record 3837 not a county
record 3838 not a county
record 3839 not a county
record 3840 not a county
record 3841 not a county
record 3842 not a county
record 3843 not a county
record 4309 not a county
record 4310 not a county
record 4311 not a county
record 4312 not a county
record 4313 not a county
record 4314 not a county
record 4315 not a county
record 4316 not a county
record 4317 not a county
record 4318 not a county
record 4319 not a county
record 4320 not a county
record 4321 not a county
record 4322 not a county
record 4323 not a county
record 4324 not a county
record 4325 not a county
record 4326 not a county
record 4327 not a county
record 4328 not a county
record 4329 not a county
record 4330 not a county
record 4331 not a county
record 4332 not a county
record 4333 not a county
record 4334 not a county
record 4335 not a county
record 4336 not a county
record 4337 not a county
record 4338 not a county
record 4339 not a county
record 6665 not a county
record 6666 not a county
record 6667 not a county
record 6668 not a county
record 6669 not a county
record 6670 not a county
record 6671 not a county
record 6672 not a county
record 6673 not a county
record 6674 not a county
record 6675 not a county
record 6676 not a county
record 6677 not a county
record 6678 not a county
record 6679 not a county
record 6680 not a county
record 6681 not a county
record 6682 not a county
record 6683 not a county
record 6684 not a county
record 6685 not a county
record 6686 not a county
record 6687 not a county
record 6688 not a county
record 6689 not a county
record 6690 not a county
record 6691 not a county
record 6692 not a county
record 6693 not a county
record 6694 not a county
record 6695 not a county
record 8494 not a county
record 8495 not a county
record 8496 not a county
record 8497 not a county
record 8498 not a county
record 8499 not a county
record 8500 not a county
record 8501 not a county
record 8502 not a county
record 8503 not a county
record 8504 not a county
record 8505 not a county
record 8506 not a county
record 8507 not a county
record 8508 not a county
record 8509 not a county
record 8510 not a county
record 8511 not a county
record 8512 not a county
record 8513 not a county
record 8514 not a county
record 8515 not a county
record 8516 not a county
record 8517 not a county
record 8518 not a county
record 8519 not a county
record 8520 not a county
record 8521 not a county
record 8522 not a county
record 8523 not a county
record 8524 not a county
record 10509 not a county
record 10510 not a county
record 10511 not a county
record 10512 not a county
record 10513 not a county
record 10514 not a county
record 10515 not a county
record 10516 not a county
record 10517 not a county
record 10518 not a county
record 10519 not a county
record 10520 not a county
record 10521 not a county
record 10522 not a county
record 10523 not a county
record 10524 not a county
record 10525 not a county
record 10526 not a county
record 10527 not a county
record 10528 not a county
record 10529 not a county
record 10530 not a county
record 10531 not a county
record 10532 not a county
record 10533 not a county
record 10534 not a county
record 10535 not a county
record 10536 not a county
record 10537 not a county
record 10538 not a county
record 10539 not a county
record 10788 not a county
record 10789 not a county
record 10790 not a county
record 10791 not a county
record 10792 not a county
record 10793 not a county
record 10794 not a county
record 10795 not a county
record 10796 not a county
record 10797 not a county
record 10798 not a county
record 10799 not a county
record 10800 not a county
record 10801 not a county
record 10802 not a county
record 10803 not a county
record 10804 not a county
record 10805 not a county
record 10806 not a county
record 10807 not a county
record 10808 not a county
record 10809 not a county
record 10810 not a county
record 10811 not a county
record 10812 not a county
record 10813 not a county
record 10814 not a county
record 10815 not a county
record 10816 not a county
record 10817 not a county
record 10818 not a county
record 10912 not a county
record 10913 not a county
record 10914 not a county
record 10915 not a county
record 10916 not a county
record 10917 not a county
record 10918 not a county
record 10919 not a county
record 10920 not a county
record 10921 not a county
record 10922 not a county
record 10923 not a county
record 10924 not a county
record 10925 not a county
record 10926 not a county
record 10927 not a county
record 10928 not a county
record 10929 not a county
record 10930 not a county
record 10931 not a county
record 10932 not a county
record 10933 not a county
record 10934 not a county
record 10935 not a county
record 10936 not a county
record 10937 not a county
record 10938 not a county
record 10939 not a county
record 10940 not a county
record 10941 not a county
record 10942 not a county
record 10974 not a county
record 10975 not a county
record 10976 not a county
record 10977 not a county
record 10978 not a county
record 10979 not a county
record 10980 not a county
record 10981 not a county
record 10982 not a county
record 10983 not a county
record 10984 not a county
record 10985 not a county
record 10986 not a county
record 10987 not a county
record 10988 not a county
record 10989 not a county
record 10990 not a county
record 10991 not a county
record 10992 not a county
record 10993 not a county
record 10994 not a county
record 10995 not a county
record 10996 not a county
record 10997 not a county
record 10998 not a county
record 10999 not a county
record 11000 not a county
record 11001 not a county
record 11002 not a county
record 11003 not a county
record 11004 not a county

record 13082 not a county
record 13083 not a county
record 13084 not a county
record 13085 not a county
record 13086 not a county
record 13087 not a county
record 13088 not a county
record 13089 not a county
record 13090 not a county
record 13091 not a county
record 13092 not a county
record 13093 not a county
record 13094 not a county
record 13095 not a county
record 13096 not a county
record 13097 not a county
record 13098 not a county
record 13099 not a county
record 13100 not a county
record 13101 not a county
record 13102 not a county
record 13103 not a county
record 13104 not a county
record 13105 not a county
record 13106 not a county
record 13107 not a county
record 13108 not a county
record 13109 not a county
record 13110 not a county
record 13111 not a county
record 13112 not a county
record 18042 not a county
record 18043 not a county
record 18044 not a county
record 18045 not a county
record 18046 not a county
record 18047 not a county
record 18048 not a county
record 18049 not a county
record 18050 not a county
record 18051 not a county
record 18052 not a county
record 18053 not a county
record 18054 not a county
record 18055 not a county
record 18056 not a county
record 18057 not a county
record 18058 not a county
record 18059 not a county
record 18060 not a county
record 18061 not a county
record 18062 not a county
record 18063 not a county
record 18064 not a county
record 18065 not a county
record 18066 not a county
record 18067 not a county
record 18068 not a county
record 18069 not a county
record 18070 not a county
record 18071 not a county
record 18072 not a county
record 18197 not a county
record 18198 not a county
record 18199 not a county
record 18200 not a county
record 18201 not a county
record 18202 not a county
record 18203 not a county
record 18204 not a county
record 18205 not a county
record 18206 not a county
record 18207 not a county
record 18208 not a county
record 18209 not a county
record 18210 not a county
record 18211 not a county
record 18212 not a county
record 18213 not a county
record 18214 not a county
record 18215 not a county
record 18216 not a county
record 18217 not a county
record 18218 not a county
record 18219 not a county
record 18220 not a county
record 18221 not a county
record 18222 not a county
record 18223 not a county
record 18224 not a county
record 18225 not a county
record 18226 not a county
record 18227 not a county
record 19592 not a county
record 19593 not a county
record 19594 not a county
record 19595 not a county
record 19596 not a county
record 19597 not a county
record 19598 not a county
record 19599 not a county
record 19600 not a county
record 19601 not a county
record 19602 not a county
record 19603 not a county
record 19604 not a county
record 19605 not a county
record 19606 not a county
record 19607 not a county
record 19608 not a county
record 19609 not a county
record 19610 not a county
record 19611 not a county
record 19612 not a county
record 19613 not a county
record 19614 not a county
record 19615 not a county
record 19616 not a county
record 19617 not a county
record 19618 not a county
record 19619 not a county
record 19620 not a county
record 19621 not a county
record 19622 not a county
record 22785 not a county
record 22786 not a county
record 22787 not a county
record 22788 not a county
record 22789 not a county
record 22790 not a county
record 22791 not a county
record 22792 not a county
record 22793 not a county
record 22794 not a county
record 22795 not a county
record 22796 not a county
record 22797 not a county
record 22798 not a county
record 22799 not a county
record 22800 not a county
record 22801 not a county
record 22802 not a county
record 22803 not a county
record 22804 not a county
record 22805 not a county
record 22806 not a county
record 22807 not a county
record 22808 not a county
record 22809 not a county
record 22810 not a county
record 22811 not a county
record 22812 not a county
record 22813 not a county
record 22814 not a county
record 22815 not a county
record 25668 not a county
record 25669 not a county
record 25670 not a county
record 25671 not a county
record 25672 not a county
record 25673 not a county
record 25674 not a county
record 25675 not a county
record 25676 not a county
record 25677 not a county
record 25678 not a county
record 25679 not a county
record 25680 not a county
record 25681 not a county
record 25682 not a county
record 25683 not a county
record 25684 not a county
record 25685 not a county
record 25686 not a county
record 25687 not a county
record 25688 not a county
record 25689 not a county
record 25690 not a county
record 25691 not a county
record 25692 not a county
record 25693 not a county
record 25694 not a county
record 25695 not a county
record 25696 not a county
record 25697 not a county
record 25698 not a county
record 28768 not a county
record 28769 not a county
record 28770 not a county
record 28771 not a county
record 28772 not a county
record 28773 not a county
record 28774 not a county
record 28775 not a county
record 28776 not a county
record 28777 not a county
record 28778 not a county
record 28779 not a county
record 28780 not a county
record 28781 not a county
record 28782 not a county
record 28783 not a county
record 28784 not a county
record 28785 not a county
record 28786 not a county
record 28787 not a county
record 28788 not a county
record 28789 not a county
record 28790 not a county
record 28791 not a county
record 28792 not a county
record 28793 not a county
record 28794 not a county
record 28795 not a county
record 28796 not a county
record 28797 not a county
record 28798 not a county
record 32054 not a county
record 32055 not a county
record 32056 not a county
record 32057 not a county
record 32058 not a county
record 32059 not a county
record 32060 not a county
record 32061 not a county
record 32062 not a county
record 32063 not a county
record 32064 not a county
record 32065 not a county
record 32066 not a county
record 32067 not a county
record 32068 not a county
record 32069 not a county
record 32070 not a county
record 32071 not a county
record 32072 not a county
record 32073 not a county
record 32074 not a county
record 32075 not a county
record 32076 not a county
record 32077 not a county
record 32078 not a county
record 32079 not a county
record 32080 not a county
record 32081 not a county
record 32082 not a county
record 32083 not a county
record 32084 not a county
record 35805 not a county
record 35806 not a county
record 35807 not a county
record 35808 not a county
record 35809 not a county
record 35810 not a county
record 35811 not a county
record 35812 not a county
record 35813 not a county
record 35814 not a county
record 35815 not a county
record 35816 not a county
record 35817 not a county
record 35818 not a county
record 35819 not a county
record 35820 not a county
record 35821 not a county
record 35822 not a county
record 35823 not a county
record 35824 not a county
record 35825 not a county
record 35826 not a county
record 35827 not a county
record 35828 not a county
record 35829 not a county
record 35830 not a county
record 35831 not a county
record 35832 not a county
record 35833 not a county
record 35834 not a county
record 35835 not a county
record 37820 not a county
record 37821 not a county
record 37822 not a county
record 37823 not a county
record 37824 not a county
record 37825 not a county
record 37826 not a county
record 37827 not a county
record 37828 not a county
record 37829 not a county
record 37830 not a county
record 37831 not a county
record 37832 not a county
record 37833 not a county
record 37834 not a county
record 37835 not a county
record 37836 not a county
record 37837 not a county
record 37838 not a county
record 37839 not a county
record 37840 not a county
record 37841 not a county
record 37842 not a county
record 37843 not a county
record 37844 not a county
record 37845 not a county
record 37846 not a county
record 37847 not a county
record 37848 not a county
record 37849 not a county
record 37850 not a county
record 38347 not a county
record 38348 not a county
record 38349 not a county
record 38350 not a county
record 38351 not a county
record 38352 not a county
record 38353 not a county
record 38354 not a county
record 38355 not a county
record 38356 not a county
record 38357 not a county
record 38358 not a county
record 38359 not a county
record 38360 not a county
record 38361 not a county
record 38362 not a county
record 38363 not a county
record 38364 not a county
record 38365 not a county
record 38366 not a county
record 38367 not a county
record 38368 not a county
record 38369 not a county
record 38370 not a county
record 38371 not a county
record 38372 not a county
record 38373 not a county
record 38374 not a county
record 38375 not a county
record 38376 not a county
record 38377 not a county

record 39122 not a county
record 39123 not a county
record 39124 not a county
record 39125 not a county
record 39126 not a county
record 39127 not a county
record 39128 not a county
record 39129 not a county
record 39130 not a county
record 39131 not a county
record 39132 not a county
record 39133 not a county
record 39134 not a county
record 39135 not a county
record 39136 not a county
record 39137 not a county
record 39138 not a county
record 39139 not a county
record 39140 not a county
record 39141 not a county
record 39142 not a county
record 39143 not a county
record 39144 not a county
record 39145 not a county
record 39146 not a county
record 39147 not a county
record 39148 not a county
record 39149 not a county
record 39150 not a county
record 39151 not a county
record 39152 not a county
record 39587 not a county
record 39588 not a county
record 39589 not a county
record 39590 not a county
record 39591 not a county
record 39592 not a county
record 39593 not a county
record 39594 not a county
record 39595 not a county
record 39596 not a county
record 39597 not a county
record 39598 not a county
record 39599 not a county
record 39600 not a county
record 39601 not a county
record 39602 not a county
record 39603 not a county
record 39604 not a county
record 39605 not a county
record 39606 not a county
record 39607 not a county
record 39608 not a county
record 39609 not a county
record 39610 not a county
record 39611 not a county
record 39612 not a county
record 39613 not a county
record 39614 not a county
record 39615 not a county
record 39616 not a county
record 39617 not a county
record 42191 not a county
record 42192 not a county
record 42193 not a county
record 42194 not a county
record 42195 not a county
record 42196 not a county
record 42197 not a county
record 42198 not a county
record 42199 not a county
record 42200 not a county
record 42201 not a county
record 42202 not a county
record 42203 not a county
record 42204 not a county
record 42205 not a county
record 42206 not a county
record 42207 not a county
record 42208 not a county
record 42209 not a county
record 42210 not a county
record 42211 not a county
record 42212 not a county
record 42213 not a county
record 42214 not a county
record 42215 not a county
record 42216 not a county
record 42217 not a county
record 42218 not a county
record 42219 not a county
record 42220 not a county
record 42221 not a county
record 44919 not a county
record 44920 not a county
record 44921 not a county
record 44922 not a county
record 44923 not a county
record 44924 not a county
record 44925 not a county
record 44926 not a county
record 44927 not a county
record 44928 not a county
record 44929 not a county
record 44930 not a county
record 44931 not a county
record 44932 not a county
record 44933 not a county
record 44934 not a county
record 44935 not a county
record 44936 not a county
record 44937 not a county
record 44938 not a county
record 44939 not a county
record 44940 not a county
record 44941 not a county
record 44942 not a county
record 44943 not a county
record 44944 not a county
record 44945 not a county
record 44946 not a county
record 44947 not a county
record 44948 not a county
record 44949 not a county
record 47492 not a county
record 47493 not a county
record 47494 not a county
record 47495 not a county
record 47496 not a county
record 47497 not a county
record 47498 not a county
record 47499 not a county
record 47500 not a county
record 47501 not a county
record 47502 not a county
record 47503 not a county
record 47504 not a county
record 47505 not a county
record 47506 not a county
record 47507 not a county
record 47508 not a county
record 47509 not a county
record 47510 not a county
record 47511 not a county
record 47512 not a county
record 47513 not a county
record 47514 not a county
record 47515 not a county
record 47516 not a county
record 47517 not a county
record 47518 not a county
record 47519 not a county
record 47520 not a county
record 47521 not a county
record 47522 not a county
record 51088 not a county
record 51089 not a county
record 51090 not a county
record 51091 not a county
record 51092 not a county
record 51093 not a county
record 51094 not a county
record 51095 not a county
record 51096 not a county
record 51097 not a county
record 51098 not a county
record 51099 not a county
record 51100 not a county
record 51101 not a county
record 51102 not a county
record 51103 not a county
record 51104 not a county
record 51105 not a county
record 51106 not a county
record 51107 not a county
record 51108 not a county
record 51109 not a county
record 51110 not a county
record 51111 not a county
record 51112 not a county
record 51113 not a county
record 51114 not a county
record 51115 not a county
record 51116 not a county
record 51117 not a county
record 51118 not a county
record 52855 not a county
record 52856 not a county
record 52857 not a county
record 52858 not a county
record 52859 not a county
record 52860 not a county
record 52861 not a county
record 52862 not a county
record 52863 not a county
record 52864 not a county
record 52865 not a county
record 52866 not a county
record 52867 not a county
record 52868 not a county
record 52869 not a county
record 52870 not a county
record 52871 not a county
record 52872 not a county
record 52873 not a county
record 52874 not a county
record 52875 not a county
record 52876 not a county
record 52877 not a county
record 52878 not a county
record 52879 not a county
record 52880 not a county
record 52881 not a county
record 52882 not a county
record 52883 not a county
record 52884 not a county
record 52885 not a county
record 55769 not a county
record 55770 not a county
record 55771 not a county
record 55772 not a county
record 55773 not a county
record 55774 not a county
record 55775 not a county
record 55776 not a county
record 55777 not a county
record 55778 not a county
record 55779 not a county
record 55780 not a county
record 55781 not a county
record 55782 not a county
record 55783 not a county
record 55784 not a county
record 55785 not a county
record 55786 not a county
record 55787 not a county
record 55788 not a county
record 55789 not a county
record 55790 not a county
record 55791 not a county
record 55792 not a county
record 55793 not a county
record 55794 not a county
record 55795 not a county
record 55796 not a county
record 55797 not a county
record 55798 not a county
record 55799 not a county
record 56327 not a county
record 56328 not a county
record 56329 not a county
record 56330 not a county
record 56331 not a county
record 56332 not a county
record 56333 not a county
record 56334 not a county
record 56335 not a county
record 56336 not a county
record 56337 not a county
record 56338 not a county
record 56339 not a county
record 56340 not a county
record 56341 not a county
record 56342 not a county
record 56343 not a county
record 56344 not a county
record 56345 not a county
record 56346 not a county
record 56347 not a county
record 56348 not a county
record 56349 not a county
record 56350 not a county
record 56351 not a county
record 56352 not a county
record 56353 not a county
record 56354 not a county
record 56355 not a county
record 56356 not a county
record 56357 not a county
record 56668 not a county
record 56669 not a county
record 56670 not a county
record 56671 not a county
record 56672 not a county
record 56673 not a county
record 56674 not a county
record 56675 not a county
record 56676 not a county
record 56677 not a county
record 56678 not a county
record 56679 not a county
record 56680 not a county
record 56681 not a county
record 56682 not a county
record 56683 not a county
record 56684 not a county
record 56685 not a county
record 56686 not a county
record 56687 not a county
record 56688 not a county
record 56689 not a county
record 56690 not a county
record 56691 not a county
record 56692 not a county
record 56693 not a county
record 56694 not a county
record 56695 not a county
record 56696 not a county
record 56697 not a county
record 56698 not a county
record 57350 not a county
record 57351 not a county
record 57352 not a county
record 57353 not a county
record 57354 not a county
record 57355 not a county
record 57356 not a county
record 57357 not a county
record 57358 not a county
record 57359 not a county
record 57360 not a county
record 57361 not a county
record 57362 not a county
record 57363 not a county
record 57364 not a county
record 57365 not a county
record 57366 not a county
record 57367 not a county
record 57368 not a county
record 57369 not a county
record 57370 not a county
record 57371 not a county
record 57372 not a county
record 57373 not a county
record 57374 not a county
record 57375 not a county
record 57376 not a county
record 57377 not a county
record 57378 not a county
record 57379 not a county
record 57380 not a county

record 58404 not a county
record 58405 not a county
record 58406 not a county
record 58407 not a county
record 58408 not a county
record 58409 not a county
record 58410 not a county
record 58411 not a county
record 58412 not a county
record 58413 not a county
record 58414 not a county
record 58415 not a county
record 58416 not a county
record 58417 not a county
record 58418 not a county
record 58419 not a county
record 58420 not a county
record 58421 not a county
record 58422 not a county
record 58423 not a county
record 58424 not a county
record 58425 not a county
record 58426 not a county
record 58427 not a county
record 58428 not a county
record 58429 not a county
record 58430 not a county
record 58431 not a county
record 58432 not a county
record 58433 not a county
record 58434 not a county
record 60357 not a county
record 60358 not a county
record 60359 not a county
record 60360 not a county
record 60361 not a county
record 60362 not a county
record 60363 not a county
record 60364 not a county
record 60365 not a county
record 60366 not a county
record 60367 not a county
record 60368 not a county
record 60369 not a county
record 60370 not a county
record 60371 not a county
record 60372 not a county
record 60373 not a county
record 60374 not a county
record 60375 not a county
record 60376 not a county
record 60377 not a county
record 60378 not a county
record 60379 not a county
record 60380 not a county
record 60381 not a county
record 60382 not a county
record 60383 not a county
record 60384 not a county
record 60385 not a county
record 60386 not a county
record 60387 not a county
record 63488 not a county
record 63489 not a county
record 63490 not a county
record 63491 not a county
record 63492 not a county
record 63493 not a county
record 63494 not a county
record 63495 not a county
record 63496 not a county
record 63497 not a county
record 63498 not a county
record 63499 not a county
record 63500 not a county
record 63501 not a county
record 63502 not a county
record 63503 not a county
record 63504 not a county
record 63505 not a county
record 63506 not a county
record 63507 not a county
record 63508 not a county
record 63509 not a county
record 63510 not a county
record 63511 not a county
record 63512 not a county
record 63513 not a county
record 63514 not a county
record 63515 not a county
record 63516 not a county
record 63517 not a county
record 63518 not a county
record 65162 not a county
record 65163 not a county
record 65164 not a county
record 65165 not a county
record 65166 not a county
record 65167 not a county
record 65168 not a county
record 65169 not a county
record 65170 not a county
record 65171 not a county
record 65172 not a county
record 65173 not a county
record 65174 not a county
record 65175 not a county
record 65176 not a county
record 65177 not a county
record 65178 not a county
record 65179 not a county
record 65180 not a county
record 65181 not a county
record 65182 not a county
record 65183 not a county
record 65184 not a county
record 65185 not a county
record 65186 not a county
record 65187 not a county
record 65188 not a county
record 65189 not a county
record 65190 not a county
record 65191 not a county
record 65192 not a county
record 67921 not a county
record 67922 not a county
record 67923 not a county
record 67924 not a county
record 67925 not a county
record 67926 not a county
record 67927 not a county
record 67928 not a county
record 67929 not a county
record 67930 not a county
record 67931 not a county
record 67932 not a county
record 67933 not a county
record 67934 not a county
record 67935 not a county
record 67936 not a county
record 67937 not a county
record 67938 not a county
record 67939 not a county
record 67940 not a county
record 67941 not a county
record 67942 not a county
record 67943 not a county
record 67944 not a county
record 67945 not a county
record 67946 not a county
record 67947 not a county
record 67948 not a county
record 67949 not a county
record 67950 not a county
record 67951 not a county
record 70339 not a county
record 70340 not a county
record 70341 not a county
record 70342 not a county
record 70343 not a county
record 70344 not a county
record 70345 not a county
record 70346 not a county
record 70347 not a county
record 70348 not a county
record 70349 not a county
record 70350 not a county
record 70351 not a county
record 70352 not a county
record 70353 not a county
record 70354 not a county
record 70355 not a county
record 70356 not a county
record 70357 not a county
record 70358 not a county
record 70359 not a county
record 70360 not a county
record 70361 not a county
record 70362 not a county
record 70363 not a county
record 70364 not a county
record 70365 not a county
record 70366 not a county
record 70367 not a county
record 70368 not a county
record 70369 not a county
record 71486 not a county
record 71487 not a county
record 71488 not a county
record 71489 not a county
record 71490 not a county
record 71491 not a county
record 71492 not a county
record 71493 not a county
record 71494 not a county
record 71495 not a county
record 71496 not a county
record 71497 not a county
record 71498 not a county
record 71499 not a county
record 71500 not a county
record 71501 not a county
record 71502 not a county
record 71503 not a county
record 71504 not a county
record 71505 not a county
record 71506 not a county
record 71507 not a county
record 71508 not a county
record 71509 not a county
record 71510 not a county
record 71511 not a county
record 71512 not a county
record 71513 not a county
record 71514 not a county
record 71515 not a county
record 71516 not a county
record 73594 not a county
record 73595 not a county
record 73596 not a county
record 73597 not a county
record 73598 not a county
record 73599 not a county
record 73600 not a county
record 73601 not a county
record 73602 not a county
record 73603 not a county
record 73604 not a county
record 73605 not a county
record 73606 not a county
record 73607 not a county
record 73608 not a county
record 73609 not a county
record 73610 not a county
record 73611 not a county
record 73612 not a county
record 73613 not a county
record 73614 not a county
record 73615 not a county
record 73616 not a county
record 73617 not a county
record 73618 not a county
record 73619 not a county
record 73620 not a county
record 73621 not a county
record 73622 not a county
record 73623 not a county
record 73624 not a county
record 73780 not a county
record 73781 not a county
record 73782 not a county
record 73783 not a county
record 73784 not a county
record 73785 not a county
record 73786 not a county
record 73787 not a county
record 73788 not a county
record 73789 not a county
record 73790 not a county
record 73791 not a county
record 73792 not a county
record 73793 not a county
record 73794 not a county
record 73795 not a county
record 73796 not a county
record 73797 not a county
record 73798 not a county
record 73799 not a county
record 73800 not a county
record 73801 not a county
record 73802 not a county
record 73803 not a county
record 73804 not a county
record 73805 not a county
record 73806 not a county
record 73807 not a county
record 73808 not a county
record 73809 not a county
record 73810 not a county
record 75237 not a county
record 75238 not a county
record 75239 not a county
record 75240 not a county
record 75241 not a county
record 75242 not a county
record 75243 not a county
record 75244 not a county
record 75245 not a county
record 75246 not a county
record 75247 not a county
record 75248 not a county
record 75249 not a county
record 75250 not a county
record 75251 not a county
record 75252 not a county
record 75253 not a county
record 75254 not a county
record 75255 not a county
record 75256 not a county
record 75257 not a county
record 75258 not a county
record 75259 not a county
record 75260 not a county
record 75261 not a county
record 75262 not a county
record 75263 not a county
record 75264 not a county
record 75265 not a county
record 75266 not a county
record 75267 not a county
record 77314 not a county
record 77315 not a county
record 77316 not a county
record 77317 not a county
record 77318 not a county
record 77319 not a county
record 77320 not a county
record 77321 not a county
record 77322 not a county
record 77323 not a county
record 77324 not a county
record 77325 not a county
record 77326 not a county
record 77327 not a county
record 77328 not a county
record 77329 not a county
record 77330 not a county
record 77331 not a county
record 77332 not a county
record 77333 not a county
record 77334 not a county
record 77335 not a county
record 77336 not a county
record 77337 not a county
record 77338 not a county
record 77339 not a county
record 77340 not a county
record 77341 not a county
record 77342 not a county
record 77343 not a county
record 77344 not a county

record 80290 not a county
record 80291 not a county
record 80292 not a county
record 80293 not a county
record 80294 not a county
record 80295 not a county
record 80296 not a county
record 80297 not a county
record 80298 not a county
record 80299 not a county
record 80300 not a county
record 80301 not a county
record 80302 not a county
record 80303 not a county
record 80304 not a county
record 80305 not a county
record 80306 not a county
record 80307 not a county
record 80308 not a county
record 80309 not a county
record 80310 not a county
record 80311 not a county
record 80312 not a county
record 80313 not a county
record 80314 not a county
record 80315 not a county
record 80316 not a county
record 80317 not a county
record 80318 not a county
record 80319 not a county
record 80320 not a county
record 88195 not a county
record 88196 not a county
record 88197 not a county
record 88198 not a county
record 88199 not a county
record 88200 not a county
record 88201 not a county
record 88202 not a county
record 88203 not a county
record 88204 not a county
record 88205 not a county
record 88206 not a county
record 88207 not a county
record 88208 not a county
record 88209 not a county
record 88210 not a county
record 88211 not a county
record 88212 not a county
record 88213 not a county
record 88214 not a county
record 88215 not a county
record 88216 not a county
record 88217 not a county
record 88218 not a county
record 88219 not a county
record 88220 not a county
record 88221 not a county
record 88222 not a county
record 88223 not a county
record 88224 not a county
record 88225 not a county
record 89125 not a county
record 89126 not a county
record 89127 not a county
record 89128 not a county
record 89129 not a county
record 89130 not a county
record 89131 not a county
record 89132 not a county
record 89133 not a county
record 89134 not a county
record 89135 not a county
record 89136 not a county
record 89137 not a county
record 89138 not a county
record 89139 not a county
record 89140 not a county
record 89141 not a county
record 89142 not a county
record 89143 not a county
record 89144 not a county
record 89145 not a county
record 89146 not a county
record 89147 not a county
record 89148 not a county
record 89149 not a county
record 89150 not a county
record 89151 not a county
record 89152 not a county
record 89153 not a county
record 89154 not a county
record 89155 not a county
record 89590 not a county
record 89591 not a county
record 89592 not a county
record 89593 not a county
record 89594 not a county
record 89595 not a county
record 89596 not a county
record 89597 not a county
record 89598 not a county
record 89599 not a county
record 89600 not a county
record 89601 not a county
record 89602 not a county
record 89603 not a county
record 89604 not a county
record 89605 not a county
record 89606 not a county
record 89607 not a county
record 89608 not a county
record 89609 not a county
record 89610 not a county
record 89611 not a county
record 89612 not a county
record 89613 not a county
record 89614 not a county
record 89615 not a county
record 89616 not a county
record 89617 not a county
record 89618 not a county
record 89619 not a county
record 89620 not a county
record 92876 not a county
record 92877 not a county
record 92878 not a county
record 92879 not a county
record 92880 not a county
record 92881 not a county
record 92882 not a county
record 92883 not a county
record 92884 not a county
record 92885 not a county
record 92886 not a county
record 92887 not a county
record 92888 not a county
record 92889 not a county
record 92890 not a county
record 92891 not a county
record 92892 not a county
record 92893 not a county
record 92894 not a county
record 92895 not a county
record 92896 not a county
record 92897 not a county
record 92898 not a county
record 92899 not a county
record 92900 not a county
record 92901 not a county
record 92902 not a county
record 92903 not a county
record 92904 not a county
record 92905 not a county
record 92906 not a county
record 94116 not a county
record 94117 not a county
record 94118 not a county
record 94119 not a county
record 94120 not a county
record 94121 not a county
record 94122 not a county
record 94123 not a county
record 94124 not a county
record 94125 not a county
record 94126 not a county
record 94127 not a county
record 94128 not a county
record 94129 not a county
record 94130 not a county
record 94131 not a county
record 94132 not a county
record 94133 not a county
record 94134 not a county
record 94135 not a county
record 94136 not a county
record 94137 not a county
record 94138 not a county
record 94139 not a county
record 94140 not a county
record 94141 not a county
record 94142 not a county
record 94143 not a county
record 94144 not a county
record 94145 not a county
record 94146 not a county
record 95852 not a county
record 95853 not a county
record 95854 not a county
record 95855 not a county
record 95856 not a county
record 95857 not a county
record 95858 not a county
record 95859 not a county
record 95860 not a county
record 95861 not a county
record 95862 not a county
record 95863 not a county
record 95864 not a county
record 95865 not a county
record 95866 not a county
record 95867 not a county
record 95868 not a county
record 95869 not a county
record 95870 not a county
record 95871 not a county
record 95872 not a county
record 95873 not a county
record 95874 not a county
record 95875 not a county
record 95876 not a county
record 95877 not a county
record 95878 not a county
record 95879 not a county
record 95880 not a county
record 95881 not a county
record 95882 not a county
record 98146 not a county
record 98147 not a county
record 98148 not a county
record 98149 not a county
record 98150 not a county
record 98151 not a county
record 98152 not a county
record 98153 not a county
record 98154 not a county
record 98155 not a county
record 98156 not a county
record 98157 not a county
record 98158 not a county
record 98159 not a county
record 98160 not a county
record 98161 not a county
record 98162 not a county
record 98163 not a county
record 98164 not a county
record 98165 not a county
record 98166 not a county
record 98167 not a county
record 98168 not a county
record 98169 not a county
record 98170 not a county
record 98171 not a county
record 98172 not a county
record 98173 not a county
record 98174 not a county
record 98175 not a county
record 98176 not a county
record 98890 not a county
record 98891 not a county
record 98892 not a county
record 98893 not a county
record 98894 not a county
record 98895 not a county
record 98896 not a county
record 98897 not a county
record 98898 not a county
record 98899 not a county
record 98900 not a county
record 98901 not a county
record 98902 not a county
record 98903 not a county
record 98904 not a county
record 98905 not a county
record 98906 not a county
record 98907 not a county
record 98908 not a county
record 98909 not a county
record 98910 not a county
record 98911 not a county
record 98912 not a county
record 98913 not a county
record 98914 not a county
record 98915 not a county
record 98916 not a county
record 98917 not a county
record 98918 not a county
record 98919 not a county
record 98920 not a county
record 98921 not a county
record 98922 not a county
record 98923 not a county
record 98924 not a county
record 98925 not a county
record 98926 not a county
record 98927 not a county
record 98928 not a county
record 98929 not a county
record 98930 not a county
record 98931 not a county
record 98932 not a county
record 98933 not a county
record 98934 not a county
record 98935 not a county
record 98936 not a county
record 98937 not a county
record 98938 not a county
record 98939 not a county
record 98940 not a county
record 98941 not a county
record 98942 not a county
record 98943 not a county
record 98944 not a county
record 98945 not a county
record 98946 not a county
record 98947 not a county
record 98948 not a county
record 98949 not a county
record 98950 not a county
record 98951 not a county
record 98952 not a county
record 98953 not a county
record 98954 not a county
record 98955 not a county
record 98956 not a county
record 98957 not a county
record 98958 not a county
record 98959 not a county
record 98960 not a county
record 98961 not a county
record 98962 not a county
record 98963 not a county
record 98964 not a county
record 98965 not a county
record 98966 not a county
record 98967 not a county
record 98968 not a county
record 98969 not a county
record 98970 not a county
record 98971 not a county
record 98972 not a county
record 98973 not a county
record 98974 not a county
record 98975 not a county
record 98976 not a county
record 98977 not a county
record 98978 not a county
record 98979 not a county
record 98980 not a county
record 98981 not a county
record 98982 not a county
record 98983 not a county
record 98984 not a county
record 98985 not a county
record 98986 not a county
record 98987 not a county
record 98988 not a county
record 98989 not a county
record 98990 not a county
record 98991 not a county
record 98992 not a county
record 98993 not a county
record 98994 not a county
record 98995 not a county
record 98996 not a county
record 98997 not a county
record 98998 not a county
record 98999 not a county
record 99000 not a county
record 99001 not a county
record 99002 not a county
record 99003 not a county
record 99004 not a county
record 99005 not a county
record 99006 not a county
record 99007 not a county
record 99008 not a county
record 99009 not a county
record 99010 not a county
record 99011 not a county
record 99012 not a county
record 99013 not a county
record 99014 not a county
record 99015 not a county
record 99016 not a county
record 99017 not a county
record 99018 not a county
record 99019 not a county
record 99020 not a county
record 99021 not a county
record 99022 not a county
record 99023 not a county
record 99024 not a county
record 99025 not a county
record 99026 not a county
record 99027 not a county
record 99028 not a county
record 99029 not a county
record 99030 not a county
record 99031 not a county
record 99032 not a county
record 99033 not a county
record 99034 not a county
record 99035 not a county
record 99036 not a county
record 99037 not a county
record 99038 not a county
record 99039 not a county
record 99040 not a county
record 99041 not a county
record 99042 not a county
record 99043 not a county
record 99044 not a county
record 99045 not a county
record 99046 not a county
record 99047 not a county
record 99048 not a county
record 99049 not a county
record 99050 not a county
record 99051 not a county
record 99052 not a county
record 99053 not a county
record 99054 not a county
record 99055 not a county
record 99056 not a county
record 99057 not a county
record 99058 not a county
record 99059 not a county
record 99060 not a county
record 99061 not a county
record 99062 not a county
record 99063 not a county
record 99064 not a county
record 99065 not a county
record 99066 not a county
record 99067 not a county
record 99068 not a county
record 99069 not a county
record 99070 not a county
record 99071 not a county
record 99072 not a county
record 99073 not a county
record 99074 not a county
record 99075 not a county
record 99076 not a county
record 99077 not a county
record 99078 not a county
record 99079 not a county
record 99080 not a county
record 99081 not a county
record 99082 not a county
record 99083 not a county
record 99084 not a county
record 99085 not a county
record 99086 not a county
record 99087 not a county
record 99088 not a county
record 99089 not a county
record 99090 not a county
record 99091 not a county
record 99092 not a county
record 99093 not a county
record 99094 not a county
record 99095 not a county
record 99096 not a county
record 99097 not a county
record 99098 not a county
record 99099 not a county
record 99100 not a county
record 99101 not a county
record 99102 not a county
record 99103 not a county
record 99104 not a county
record 99105 not a county
record 99106 not a county
record 99107 not a county
record 99108 not a county
record 99109 not a county
record 99110 not a county
record 99111 not a county
record 99112 not a county
record 99113 not a county
record 99114 not a county
record 99115 not a county
record 99116 not a county
record 99117 not a county
record 99118 not a county
record 99119 not a county
record 99120 not a county
record 99121 not a county
record 99122 not a county
record 99123 not a county
record 99124 not a county
record 99125 not a county
record 99126 not a county
record 99127 not a county
record 99128 not a county
record 99129 not a county
record 99130 not a county
record 99131 not a county
record 99132 not a county
record 99133 not a county
record 99134 not a county
record 99135 not a county
record 99136 not a county

,GeoName,County,State,Description,Unit,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,United States,,Personal income (thousands of dollars),Thousands of dollars,8650325000,9001839000,9155663000,9480901000,10028781000,...,12541995000,13315478000,13998383000,14175503000,14982715000,15717140000,16151881000,16937582000,17839255000,18542262000
1,United States,United States,,Net earnings by place of residence,Thousands of dollars,5896481000,6135866000,6253448000,6468388000,6849968000,...,8044221000,8531667000,8956340000,9132669000,9539185000,9915088000,10145493000,10626821000,11167886000,11667012000
2,United States,United States,,Personal current transfer receipts,Thousands of dollars,1087280000,1192565000,1285190000,1347228000,1421206000,...,2325117000,2358654000,2362988000,2424297000,2541510000,2685370000,2776746000,2855049000,2970254000,3125174000
3,United States,United States,,Income maintenance benefits 1/,Thousands of dollars,110582000,113847000,124986000,137644000,149094000,...,256034000,264137000,267614000,271171000,270971000,273685000,270259000,268468000,260380000,268682000
4,United States,United States,,Unemployment insurance compensation,Thousands of dollars,20989000,32148000,53736000,53573000,37084000,...,139715000,107871000,84439000,63049000,35787000,32860000,32482000,30756000,28302000,28075000

In [11]:
nan_value = float("NaN")
income_2000_2019.replace("", nan_value, inplace=True)
income_2000_2019_df = income_2000_2019.dropna(axis=0, how='any', subset=['State'])

income_2000_2019["Description"]=income_2000_2019["Description"].str.strip()
income_2000_2019["Unit"]=income_2000_2019["Unit"].str.strip()



income_2000_2019_df.head()

,GeoName,County,State,Description,Unit,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
62,"Autauga, AL",Autauga,AL,Personal income (thousands of dollars),Thousands of dollars,1042400,1106996,1147427,1231725,1332117,...,1826597,1896347,1927064,1944878,2019288,2131416,2203281,2276561,2360366,2453617
63,"Autauga, AL",Autauga,AL,Net earnings by place of residence,Thousands of dollars,730094,769085,804868,863234,924265,...,1190297,1224272,1246525,1248619,1286995,1346348,1395861,1435492,1489045,1555278
64,"Autauga, AL",Autauga,AL,Personal current transfer receipts,Thousands of dollars,138754,152771,166841,182678,202208,...,368849,391827,390405,403133,423992,465280,472592,501554,521491,542039
65,"Autauga, AL",Autauga,AL,Income maintenance benefits 1/,Thousands of dollars,15356,16543,19491,21611,23491,...,41957,44832,43347,44264,44190,53078,51131,49377,48821,51336
66,"Autauga, AL",Autauga,AL,Unemployment insurance compensation,Thousands of dollars,1879,2566,3494,3589,2496,...,11248,9636,6747,4866,2730,2343,2354,2011,1887,1831

In [12]:
income_2000_2019_df_FLT = income_2000_2019_df[(income_2000_2019_df["Description"] == "Population (persons) 3/") |
                                             (income_2000_2019_df["Description"] == "Per capita personal income 4/") |
                                             (income_2000_2019_df["Description"] == "Per capita net earnings 4/")|
                                             (income_2000_2019_df["Description"] == "Total employment (number of jobs)")|
                                             (income_2000_2019_df["Description"] == "Average earnings per job (dollars)")|
                                             (income_2000_2019_df["Description"] == "Average wages and salaries")]
income_2000_2019_df_FLT.head(15)
#states_mean_df[states_mean_df["Description"] == 'Per capita personal income (dollars) 2/']

,GeoName,County,State,Description,Unit,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
85,"Autauga, AL",Autauga,AL,Total employment (number of jobs),Number of jobs,16138,16211,15944,16484,16884,...,16988,17298,16421,16476,16858,17278,17434,17800,18172,18493
90,"Autauga, AL",Autauga,AL,Average earnings per job (dollars),Dollars,25707,27232,27661,28349,30129,...,31847,32543,34382,35741,35450,36033,37358,37941,38624,39984
116,"Baldwin, AL",Baldwin,AL,Total employment (number of jobs),Number of jobs,69423,70661,71892,73844,77691,...,89246,92000,93226,96469,99807,103917,107822,111703,115748,119535
121,"Baldwin, AL",Baldwin,AL,Average earnings per job (dollars),Dollars,25382,25742,26787,27950,29397,...,31370,31599,32366,33426,34333,35216,36067,36388,37643,38997
147,"Barbour, AL",Barbour,AL,Total employment (number of jobs),Number of jobs,15146,15239,14776,14387,13904,...,12617,12359,12254,12153,11935,12053,11594,11643,11506,11684
152,"Barbour, AL",Barbour,AL,Average earnings per job (dollars),Dollars,26907,28266,28354,28943,32348,...,35810,35217,34760,39263,37934,38673,38185,39039,42332,40885
178,"Bibb, AL",Bibb,AL,Total employment (number of jobs),Number of jobs,6029,5735,5776,5901,6078,...,6249,6249,6291,6503,6486,6429,6445,6347,6454,6897
183,"Bibb, AL",Bibb,AL,Average earnings per job (dollars),Dollars,24135,25078,25951,27032,28895,...,35682,35926,37296,38000,39420,38596,39481,39786,40131,43208
209,"Blount, AL",Blount,AL,Total employment (number of jobs),Number of jobs,16255,14971,14251,14192,14298,...,14476,14657,14475,14445,14246,14306,15163,15181,15702,15993
214,"Blount, AL",Blount,AL,Average earnings per job (dollars),Dollars,22830,26371,26667,28361,30142,...,31573,29701,32786,36377,37353,38038,34005,37056,36813,35325
240,"Bullock, AL",Bullock,AL,Total employment (number of jobs),Number of jobs,4479,4205,4209,4140,4167,...,3976,3970,3900,4058,3976,4098,4159,4217,4286,4281
245,"Bullock, AL",Bullock,AL,Average earnings per job (dollars),Dollars,24921,27434,28996,29718,30188,...,34124,33280,36003,35987,34564,34138,34816,34966,35823,37652
271,"Butler, AL",Butler,AL,Total employment (number of jobs),Number of jobs,9363,9206,9226,9025,9181,...,9097,9382,9192,9296,9626,9656,9697,9530,9549,9766
276,"Butler, AL",Butler,AL,Average earnings per job (dollars),Dollars,23397,25893,27201,28567,29599,...,33448,31984,34091,36923,36954,38552,36907,37704,38989,38058
302,"Calhoun, AL",Calhoun,AL,Total employment (number of jobs),Number of jobs,60846,59639,60124,60521,62604,...,60194,60613,59998,58414,58092,58062,57693,58541,58787,59132

In [141]:
#counties = income_2000_2019[["County", "GeoFIPS"]]
#income_2000_2019.set_index(["County", "Description"], inplace=True)

In [13]:
counties = income_2000_2019_df_FLT['GeoName'].unique()
counties = pd.DataFrame(counties)
counties

                   0
0        Autauga, AL
1        Baldwin, AL
2        Barbour, AL
3           Bibb, AL
4         Blount, AL
...              ...
3133  Sweetwater, WY
3134       Teton, WY
3135       Uinta, WY
3136    Washakie, WY
3137      Weston, WY

[3138 rows x 1 columns]

In [241]:
counties.to_json(r"static/data/counties.json")

In [14]:
#income_2000_2019_df_FLT.set_index(["County", "Description"], inplace=True) 
income_2000_2019_df_FLT

,GeoName,County,State,Description,Unit,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
85,"Autauga, AL",Autauga,AL,Total employment (number of jobs),Number of jobs,16138,16211,15944,16484,16884,...,16988,17298,16421,16476,16858,17278,17434,17800,18172,18493
90,"Autauga, AL",Autauga,AL,Average earnings per job (dollars),Dollars,25707,27232,27661,28349,30129,...,31847,32543,34382,35741,35450,36033,37358,37941,38624,39984
116,"Baldwin, AL",Baldwin,AL,Total employment (number of jobs),Number of jobs,69423,70661,71892,73844,77691,...,89246,92000,93226,96469,99807,103917,107822,111703,115748,119535
121,"Baldwin, AL",Baldwin,AL,Average earnings per job (dollars),Dollars,25382,25742,26787,27950,29397,...,31370,31599,32366,33426,34333,35216,36067,36388,37643,38997
147,"Barbour, AL",Barbour,AL,Total employment (number of jobs),Number of jobs,15146,15239,14776,14387,13904,...,12617,12359,12254,12153,11935,12053,11594,11643,11506,11684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98825,"Uinta, WY",Uinta,WY,Average earnings per job (dollars),Dollars,27723,30209,31975,32633,33119,...,48059,44877,44921,47846,46002,44832,43151,43257,44554,45678
98851,"Washakie, WY",Washakie,WY,Total employment (number of jobs),Number of jobs,5303,5232,5148,5157,5189,...,5522,5603,5530,5425,5389,5394,5247,5299,5255,5199
98856,"Washakie, WY",Washakie,WY,Average earnings per job (dollars),Dollars,25814,29148,29891,31238,31784,...,40147,43651,42824,44039,46675,47167,45815,45477,46228,47293
98882,"Weston, WY",Weston,WY,Total employment (number of jobs),Number of jobs,4792,3767,3663,3643,3627,...,3893,3774,3925,3918,4087,4090,4045,3942,3881,3976
98887,"Weston, WY",Weston,WY,Average earnings per job (dollars),Dollars,23422,28693,27628,28007,27057,...,34885,36492,36236,40126,43588,45279,39265,36946,41006,42309

In [16]:
income_2000_2019_df_FLT.to_json(r"static/data/Income_records.json", orient = 'table')